<%# Include the header module (partial) %> 
<%- include('./partials/head.ejs') %> 

    <h2><%= errorTitle %> </h2>
    <p><%= errorDescription %> </p>
    <% if(errorLink && errorLinkDescription) { %>
        <a href="<%= errorLink %> "><%= errorLinkDescription %> </a>
    <% } %> 

<%# Include the footer module (partial) %> 
<%- include('./partials/footer.ejs') %> 