<%# Include the header module (partial) %> 
<%- include('./partials/head.ejs') %> 

    <h2>Welkom <%= voornaam %>! Je account is aangemaakt.</h2>
    <p>Om je gemaakte NERD shirts later terug te kunnen zien, hebben we een inlogcode voor je gemaakt. Bewaar deze code goed! Je hebt hem nodig om opnieuw te kunnen inloggen.</p>
    <h3>Dit is jouw inlogcode:</h3>
    <p><%= userid %> </p>
    <a href=<%= `/studio/${userid}/${shirtid}`%> >Start met ontwerpen!</a>
<%# Include the footer module (partial) %> 
<%- include('./partials/footer.ejs') %> 