<%# Include the header module (partial) %> 
<%- include('./partials/head.ejs') %> 
<main class="page">
    <section class="confirm">
        <svg xmlns="http://www.w3.org/2000/svg" width="7em" height="7em" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 17.292l-4.5-4.364 1.857-1.858 2.643 2.506 5.643-5.784 1.857 1.857-7.5 7.643z"/></svg>
        <h2>Shirt succesvol opgeslagen in je account!</h2>
    </section>
    <h3>Bewaar je account code</h3>
    <p>Je kunt je opgeslagen NERD shirt terugvinden via onderstaande account code. Bewaar de code goed!</p>
    <div class="code">
        <input id="code" type="text" value="<%=userid%>" readonly>
    </div>
    <a class="secundary" href="<%= `/studio/${userid}/${shirtid}` %> "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z" fill="currentColor"/></svg>Nog een shirt maken?</a>
    <a class="primary" href="<%= `/order/${userid}` %>"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path fill="currentColor" d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>Bekijk winkelwagen</a>
    
    <!-- <h3>Al je NERD shirts op één plek</h3>
    <p>Je kunt je gemaakte NERD shirts altijd later weer terugvinden in je dashboard. Inloggen werkt met de bovenstaande login code. Je kunt ook vanaf hier met onderstaande knop rechtsstreeks inloggen in je dashboard.</p>
    <form action="/dashboard" method="POST">
        <input type="hidden" value="<%= userid %>" name="logincode" id="logincode">
        <input type="submit" value="Open dashboard">
    </form> -->
</main>
<%# Include the footer module (partial) %> 
<%- include('./partials/footer.ejs') %> 